node_modules
.next
.next*
dist
.env
.env.*
!.env.example
!.env.*.example
!**/.env.example
!**/.env.*.example
.DS_Store
*.tsbuildinfo
apps/web/root@kd
apps/web/zevolvia_dump.sql
apps/web/zevolvia_dump.sqlcat
apps/web/zevolvia-web@0.1.0


#Ignore vscode AI rules
.github/instructions/codacy.instructions.md

.pnpm-store
.idea
